.App {
  text-align: center;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submissionmain {
  background-color: 	#1db954cf;
  width: 50vw;
  height: 60vh;
  position: absolute;
  top: 25%;
  left: 25%;
  margin: -25px 0 0 -25px;
  color: white;
  border-radius: 25px;
}

.submissionspace{
  height:2.5vh;
  width: 40vw;
  border-radius: 10px;
}
.submissionspacesmall{
  height:3vh;
  width: 30vw;
  border-radius: 10px;
  margin-top: 10px;
}

.submissionhold{
  height: 3vh;
}

.descriptionspace{
  height: 10vh;
  width: 40vw;
  border-radius: 10px;
}

.submitcontainer{
  margin-top: 70px;
}

.playlistinstructions{
  margin-top: 50px;
}

.songssent{
  border-color: black;
  border-style: solid;
  width: 50vw;
  margin-top: 10vh;
  position: absolute;
  align-items: center;
  top: 1%;
  left: 24%;
  border-radius: 25px;
}

/* Sizing for iPhone Screen */

@media screen and (max-width: 480px) {
  body {
    background-color: #191919;
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }

  .App {
    text-align: center;
  }

  .submissionmain{
    background-color: 	#202023d0;
    width: 95vw;
    height: 80vh;
    color: white;
    margin: -90px 0 0 -88px;
    border: 25px solid;
    border-color: red;
    border-radius: 1em;
    border-image: linear-gradient(to right, rgb(99, 99, 178), #9031AA) 1;
    border-width: 2.5px;
  }

  .subcriptionmain{
    background-color: 	#202023;
    width: 95vw;
    height: 80vh;
    color: white;
    /* margin: -90px 0 0 -88px; */
    margin-top: 100vh;
    border: 25px solid;
    border-color: red;
    border-radius: 1em;
    border-image: linear-gradient(to right, darkblue, #9031AA) 1;
    border-width: 2.5px;
  }

  .descriptionspace{
    width: 85vw;
    border-radius: 10px;
  }

  .submissionspace{
    width: 85vw;
    border-radius: 10px;
  }
  .submissionspacesmall{
    width: 85vw;
    border-radius: 10px;
  }

  .playlistinstructions{
    margin-top: 50px;
  }

  .songssent{
    border-color: black;
    border-style: solid;
    width: 95vw;
    margin-top: 5vh;
    margin-left: -18vw;
    border-radius: 25px;
  }

  .submissioninputs{
    margin-top: 2.5vh;
    /* border-style: solid;
    border-color: #9031AA; */
    height: 50vh;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    border-width: 2.5px;
  }

  .cardtext{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5vh;
    margin-inline: 2vh;
  }

  .submitcontainer{
    margin-top: -10vh;
  }

  .test{
    border: 1px solid white;
    height: 100vh;
  }

}

